<ul>
<% Client.all.each do |client| %>
	<li><%= client.name %>
		<ul>
		<% client.web_sites.all.each do |foo| %>
			<li> <a href="<%= foo.url %>"><%= foo.url %></a></li>
		<% end %>
		</ul>
	</li>
<% end %>
</ul>
