<p>Click a client to edit that client.  Drag a client to reorder the clients.</p>
<ol id='client_list' data-update-url="<%= sort_admin_clients_path %>">
<% @clients.all.each do |client| %>
  <%= content_tag_for :li, client do %>
    <a href='<%= client_path(client) %>'><%= client.name %></a>
  <% end %>
<% end %>
</ol>