/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.bordered{
	border-bottom:1px solid #dddddd;
	padding-bottom:10px;
	padding-top:10px;
	margin-bottom:10px;
}

.showoff{
	border: 2px solid #000000;
	background-color: #dddddd;
	height: 120px
}

a:link{color: #000000}
a:visited{color: #000000}
a:hover{color: #990000}

a.client_title:link{color: #000099}
a.client_title:visited{color: #000055}

.smallchart{
	width: 100px;
	height: 50px;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
}

.bigchart{
	width: 300px;
	height: 150px;
	border: 1px solid #000000
}

.webline{
	margin-bottom: 5px
}

h1{
	text-align: center
}

.logo{
	float: left;
}

.website_detail{
	border: 2px solid #000000;
	background-color: #dddddd;
}

.chart_title{
	text-align: center;
}