$grBlue: #1E407D;
$darkGray: #333;
$lightGray: #CCC;
$darkBrown: #5F544C;
$red: #FF1E00;
$green: #64984F;
$footerBackground: #4F5E67;
$primaryButtonBackground: #f00;
$bodyBackground: #FAF7F2;
$navColor: #807D6D;
$navbarLinkColor: #817D6C;

$sansFontFamily: "proxima-nova-extra-condensed",sans-serif;
$serifFontFamily: 'rooney-web';
$baseFontSize: 18px;
$baseLineHeight: 24px;
$navbarBackground: $grBlue;

.login a{color: $lightGray;}

@import "bootstrap";

/* boostrap overrides */
.breadcrumb {
	background-color: $navColor;
	color: $white;
	> li {
		text-shadow: none;
		a {
			color: inherit;
		}
	}	
}

.header{
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.bordered{
	border-bottom:1px solid #dddddd;
	padding-bottom:10px;
	padding-top:10px;
	margin-bottom:10px;
}

.showoff{
	margin: 10px;
	padding: 3px;
}

.client_small{
	height: 148px;
}

.webline{
	margin-top: 7px;
	margin-bottom: 2px;
	padding-bottom: 5px;
}

.scrollable{
	overflow: auto;
	max-height: 132px;
}

a.client_title:link{color: #000099}
a.client_title:visited{color: #000055}

.smallchart{
	width: 100px;
	height: 50px;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
}

.bigchart{
	width: 300px;
	height: 150px;
	border: 1px solid #000000
}


h1{
	text-align: center
}

.logo{
	float: left;
	height: 90px;
}

.website_detail{
	clear: left;
}

.chart_title{
	text-align: center;
}

.light{
	margin-right: 5px
}

.login{
	color: $darkGray;
	float: right;
}