<!DOCTYPE html>
<html>
<head>
  <title>GrStatus</title>
  <meta name="viewport" content="initial-scale=1.0">
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
</head>
<body>
	
<%= yield %>

<!-- This is the javascript for the Highcharts stuff -->
<script type='text/javascript'>
function drawchart (renderto, series_data, series_name){
new Highcharts.Chart({
            credits: {
            enabled: false
            },
            legend: {
            enabled: false,
            padding: 0,
            margin: 0,
            },
            chart: {
                renderTo: renderto,
                marginRight: 30,
                marginBottom: 0,
                type: 'line',
                animation: false,
                spacingTop: 0,
                spacingBottom: 0,
                spacingLeft: 0,
                spacingRight: 0
            },
            title: {
                text: null,
                margin: 0
            },
            xAxis: {
                tickColor: null,
                maxPadding: 0,
                lineColor: null, 
                labels: {
                    enabled: false
                }
            },
            yAxis: {
                gridLineColor: null, 
                maxPadding: 0,
                title: {
                    text: null
                },
                labels: {
                    enabled: false
                }
            },
            tooltip: {
                enabled: false
            },
            plotOptions: {
	            line: {
                    animation: false,
	                marker: {
	                    enabled: false,
	                    states: {
	                    	hover: {
	                    		enabled: false
	                    	},
	                    	select: {
	                    		enabled: false
	                    	}
	                    }
	                }
	            }
        	},
            series: [{
                name: series_name,
                data: series_data
            }]
        });

}
</script>

</body>
</html>
